.education {
    color: rgb(8, 8, 8);
    width: 100%;
    background-color: #f0f0f0;
    margin: 0.1%;
    padding: 1%;
}

.education-block {
    background-color: #dbdbdb;
    padding: 2% 1% 1% 1%;
}

.my_photo {
    float: left;
    border-radius: 5%;
    border-color: red;
    background-color: red;
}


.aboutme-card {
    background-color: #ffffff;
    color: black;
    padding: 5%;
    margin-bottom: 1%;
}

.aboutme-content {
    font-size: 20px;
    text-align: justify;
}

.type {
    font-size: 35px;
    background-color:rgb(40 126 138);
    padding: 2%;
    color: white;
}

.research-papers {
    margin-top: 10px;
    margin-bottom: 10px;
}

.paper {
    border-radius: 1%;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 4%;
    align-items: center;
    background-color: rgb(180, 223, 252);
}

.img-paper {
    align-items: center;
    width: 100%;
    align-items: center;
}

.citation-paper {
    padding: 5px;
    margin-top: 10px;
}

.footer {
    text-align: center;
    margin-top: 50px;
    padding: 60px;
    height: 200px;
    background-color: rgb(25 55 64);
    color: white;
}


.fa-brands {
    width: 75px;
    height: 75px;
    background-color: rgb(40 126 138);
    padding: 10px;
    border-radius: 4px;
    border-color: black;
    border-width: 5px;
    color: rgb(255 255 255);
    font-size: 60px;
    margin-left: 10px;
    margin-right: 10px;
    transition: 0.3s;
}

.fa-brands:hover {
    background-color: rgb(0, 0, 0);
}

.file-name {
    font-size: x-large;
    color: #a30000;
    text-align: center;
}

.structure-info {
    width: 400px;
    height: 600px;
}

.navbar-brand {
    font-size: 30px;
    color: white;
}

.navbar {
    padding: 1%;
    background-color: #204e5a !important;
}

.nav-item {
    padding: 5px;
    border-width: 1px;
    color: white;
    border-radius: 2px;
}

.nav-link {
    color: white;
    padding: 10px;
}


.nav-link:hover {
    background-color: rgb(3, 3, 3);
    color: white;
    transition: 0.1;
}


.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

canvas {
    background-color: white;
    border: 1px solid #000;
}

.controls-container {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

input[type="range"] {
    width: 100%;
}

.button-container {
    display: flex;
    gap: 10px;
}

button {
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4e4e4e;
    color: white;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: rgb(25 55 64);
}

.parameters-container {
    background-color: #f7f7f7;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 600px;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 10px;
}

.parameter-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label {
    font-weight: bold;
}

input[type="number"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 150px;
}

.animation-control {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.timeStep {
    float: right;
}

.footer>.container {
    width: 38%;
}



#container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

#webgl-canvas {
    background: #ffffff;
    display: block;
    width: 80%;
    height: 100%;
}

#ui-panel {
    padding: 0px;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    gap: 5px;
}


#atom-info {
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 10px 14px;
    font-family: monospace;
    display: none;
    border-radius: 5px;
    pointer-events: none;
    min-width: 120px;
    text-align: left;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    max-width: 300px;
    margin: 20px auto;
}

.grid input[type="number"] {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #999;
    border-radius: 2px;
    background-color: #fdfdfd;
    width: 100%;
    box-sizing: border-box;
}


#fileInput {
    padding: 8px;
}


.collapsible {
    background-color: #3498db;
    color: white;
    cursor: pointer;
    padding: 1rem;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1rem;
    border-radius: 2px;
    transition: background-color 0.3s;
}

.collapsible:hover {
    background-color: #2980b9;
}

.content {
    padding: 0 1rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
    background-color: #f1f1f1;
    border-radius: 0 0 2px 2px;
}

.active+.content {
    margin-top: 5px;
}

.about-container {
    padding: 10px;
    max-height: 500px;
    overflow-y: auto;
    padding-right: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

